.feedback-container {
    width: 100%;
    padding: 20px;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    & h2 {
        color: $white-color;
    }
    &.success {
        background-color: $feedback-success-color;
    }
    &.error {
        background-color: $feddback-error-color;
    }
    &__button {
        background-color: $primary-brand-color;
        border: none;
        color: $white-color;
        padding: 16px;
        display: table;
        margin: 0 auto;
        cursor: pointer;
        text-decoration: none;
        &:active {
            transform: scale(0.9);
        }
    }
}