.marvel-gallery-title {
    background-color: $marvel-gallery-color;
    color: $white-color;
    margin: 0;
    padding: 40px 20px;
    font-size: 34px;
    text-align: center;
}

.styles_wrapper__1kG3C {
    margin-bottom: 30px !important;
    min-height: initial !important;
}