.title-list-data-container {
    width: 100%;
    &__title {
        font-size: 32px;
        @media screen and (min-width: 1024px) {
            text-align: left;
        }
    }
    &__list {
        padding: 0;
        @media screen and (min-width: 576px) {
           & {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
            }
        }
        @media screen and (min-width: 1024px) {
            & {
                justify-content: flex-start;
            }
        }
        & li {
            list-style: none;
            padding: 10px;
            border-radius: 4px;
            background-color: $primary-brand-color;
            margin-bottom: 12px;
            @media screen and (min-width: 576px) {
               & {
                    margin: 7px;
                }
            }
            & a {
                text-decoration: none;
                color: $white-color
            }
        }
    }
}

.title-list-data-container-no-data-text {
    @media screen and (min-width: 1024px) {
        text-align: left;
    }
}