.single-comic-container {
    padding-top: 50px;
    &__image-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__image {
        border: 6px solid $primary-brand-color;
        width: 240px;
        object-fit: cover;
        object-position: top;
        margin-bottom: 20px;
    }
    &__title {
        font-weight: bold;
        font-size: 28px;
    }
    &__title,
    &__description {
        text-align: center;
    }
}