.single-caracther-container {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    @media screen and (min-width: 1024px) {
        & {
            flex-direction: row;
            align-items: flex-start;
        }
    }
    &__info-container {
        width: 100%;
        @media screen and (min-width: 1024px) {
            & {
                padding-left: 50px;
            }
        }
        & > * {
            text-align: center;
        }
    }
    &__image {
        display: block;
        width: 100%;
        max-width: 280px;
        border: 8px solid $primary-brand-color;
        object-fit: cover;
        object-position: center;
        margin: 0;
        @media screen and (min-width: 576px) {
            & {
                max-width: 450px;
            }
        }
        @media screen and (min-width: 1024px) {
            & {
                min-height: 650px;
                border: none;
                box-shadow: 0.5rem 0.5rem $secondary-brand-color, -0.5rem -0.5rem $primary-brand-color;
            }
        }
    }
    &__name {
        font-size: 36px;
    }
    &__name,
    &__description {
        @media screen and (min-width: 1024px) {
            & {
                text-align: left;
            }
        }
    }
}